div {
    width: 800px;
    margin: 0 auto;
}

.text {
    font-size: 18px;
    line-height: 1.5;
}
.center {
    text-align: center;
}
.button {
    background-color: #49318b;
    padding: 10px;
    border: none;
    color: #fff;
    text-transform: uppercase;
}